@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  text-align: center;
}

.content {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav > :first-child {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px 0;
  box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, 0.2);
}
nav img {
  width: 140px;
}

.location {
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  padding: 12px 0;
  gap: 10px;
}
.location p {
  font-weight: 500;
}

.explore {
  background-color: #F6F6F6;
  padding: 30px 0 50px;
}
.explore p {
  color: rgba(49, 49, 49, 0.7607843137);
  padding: 35px 0;
}
.explore a {
  text-decoration: none;
  padding: 12px;
  border-radius: 24px;
  color: white;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  min-width: 189px;
}

.info {
  padding: 35px 15px;
  text-align: left;
  background-color: white;
}

.instructions {
  padding: 20px 0 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.instructions div {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 18px 0px;
  background: #F6F6F6;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.instructions div:hover {
  transform: scale(1.05);
  background: rgba(147, 86, 220, 0.15);
}
.instructions p:first-child {
  background: hwb(267 34% 14%);
  font-size: 14px;
  color: white;
  border-radius: 12px;
  padding: 3px 7px;
  margin-left: -12px;
}
.instructions div:hover i {
  color: #9356DC;
}

main {
  flex-grow: 1;
  background-color: #F6F6F6;
}

.selection {
  text-align: left;
  padding: 25px 15px;
  background: #F6F6F6;
}

.restaurants-container {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  height: 250px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  color: black;
  position: relative;
}

.new {
  border-radius: 2px;
  text-align: center;
  padding: 6px 25px;
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  color: #26725e;
}

.img-container {
  overflow: hidden;
}

.selection .img-container {
  flex-basis: 75%;
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-top: -60px;
}

img[alt="image of the enchanted plate"] {
  margin-top: -170px;
}

.card i {
  font-size: 20px;
}

.restaurant-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  padding: 0 15px;
  text-align: left;
}

.restaurants-container .restaurant-info {
  flex-grow: 1;
}

.restaurant-info div p:first-child {
  font-weight: 600;
}
.restaurant-info button {
  border: none;
  background-color: #F6F6F6;
  cursor: pointer;
}

.content.menu nav button {
  border: none;
  background-color: #F6F6F6;
  cursor: pointer;
}

.restaurant-info button .fa-regular {
  margin-right: -3.6px;
}
.restaurant-info button > .fa-solid {
  margin-left: -20px;
  transition: opacity 0.4s ease-in;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant-info button:hover > .fa-solid {
  opacity: 1;
}

.content.menu nav div {
  padding: 12px 15px;
  align-items: center;
}
.content.menu nav button {
  background: white;
}
.content.menu nav img {
  margin: 0 auto;
}

.card.selected {
  border-radius: 0;
  height: 100%;
  background: #F6F6F6;
  box-shadow: none;
}

.selected .img-container {
  margin-bottom: -20px;
  max-height: 220px;
}
.selected > button {
  text-decoration: none;
  padding: 12px;
  border-radius: 24px;
  color: white;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  min-width: 189px;
  border: none;
  align-self: center;
  margin: 40px 0 60px 0;
  cursor: pointer;
}
.selected .restaurant-info {
  display: block;
  border-radius: 20px 20px 0 0;
  padding: 20px 15px 0 15px;
  background: #F6F6F6;
}
.selected .restaurant-info div {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}
.selected .restaurant-info h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 25px;
}

.menu-container {
  text-align: start;
  padding: 0 15px;
}

.course {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.course > p {
  white-space: nowrap;
  width: 60px;
  padding-bottom: 5px;
  margin: 30px 0 0 0;
  box-shadow: -10px 12px 0px -10px #99E2D0;
}

.menu-item {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  align-items: center;
  background: white;
  overflow: hidden;
}
.menu-item > div {
  padding: 8px 10px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
  cursor: pointer;
}
.menu-item > div div {
  overflow: hidden;
}
.menu-item > div div p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-item > div div p:first-child {
  font-weight: 600;
  padding-bottom: 3px;
}
.menu-item > div > p {
  font-weight: 600;
}
.menu-item i {
  text-align: center;
  width: 0px;
  background: #99E2D0;
  color: white;
  padding: 18px 0;
  transition: all 0.3s ease-in-out;
}

.choc i {
  padding: 28px 0;
}

.menu-item:hover i {
  width: 50px;
}

footer {
  text-align: left;
  background: #353535;
  color: white;
  padding: 20px;
}
footer p {
  font-family: "Shrikhand", cursive;
  margin-bottom: 10px;
  font-size: 18px;
}

li {
  padding: 5px 0;
  list-style: none;
}
li a {
  text-decoration: none;
  color: white;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  background: white;
  z-index: 1;
  opacity: 1;
  animation: loader 2s forwards 2s;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.6;
  }
  63% {
    opacity: 0.3;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.loader {
  margin-top: 450px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  width: 150px;
  height: 150px;
  animation: spin 2s forwards infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media all and (min-width: 412px) {
  .selection {
    max-width: 1000px;
    margin: 0 auto;
  }
  .info > * {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
  }
  .selection > *, footer > * {
    max-width: 100%;
    text-align: center;
  }
  .restaurants-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  .card {
    max-width: 500px;
    min-width: 370px;
    margin: 0 auto;
    flex: 1 1;
  }
  .menu nav div {
    justify-content: space-between;
  }
  .content.menu nav img {
    margin: 0;
  }
  .menu .selected {
    max-width: 100%;
  }
  .course {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media all and (min-width: 550px) {
  .selected .img-container {
    max-height: 300px;
  }
}
@media all and (min-width: 855px) {
  .selected .restaurant-info div {
    max-width: 100%;
  }
  .menu-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  .course {
    flex: 1 1;
    max-width: 300px;
    min-width: 260px;
  }
  .selected .img-container {
    max-height: 500px;
    min-height: 500px;
  }
}
@media all and (min-width: 900px) {
  .instructions {
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    max-width: 1000px;
  }
  .instructions > div {
    flex: 1 1;
  }
  .menu .img-container {
    max-width: 1700px;
    margin: 0 auto;
    margin-bottom: -20px;
  }
}
@media all and (min-width: 960px) {
  .menu-container, .selected .restaurant-info {
    max-width: 1700px;
  }
  .menu-container {
    max-width: 1600px;
  }
  .course {
    max-width: 500px;
  }
}
@media all and (min-width: 1200px) {
  .selected .img-container {
    max-height: 650px;
    min-height: 650px;
  }
}
@media all and (min-width: 1400px) {
  .selected .img-container {
    max-height: 800px;
    min-height: 800px;
  }
}
@media all and (min-width: 1700px) {
  .selected .img-container {
    max-height: 1000px;
    min-height: 1000px;
  }
  .selected .restaurant-info {
    min-width: 1700px;
    margin: 0 auto;
  }
  .menu-container {
    min-width: 1600px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */