@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    text-align: center;
}

.content {
    max-width: 412px;
    margin: 0 auto;
}

/* Header */
nav > :first-child {
    /* border: 2px solid green; */
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    box-shadow: 0px 6px 4px -4px rgba(0,0,0,0.2);
    z-index: 1;
}

nav img {
    width: 140px;
}

.location {
    /* border: 2px solid red; */
    background: #EAEAEA;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    gap: 10px;
}

.location p {
    font-weight: 500;
}

.explore {
    background-color: #F6F6F6;
    padding: 30px 0 50px;
}

.explore p {
    color: #313131c2;
    padding: 35px 0;
}

.explore a,
.selected > button {
    /* border: 2px solid red; */
    text-decoration: none;
    padding: 12px;
    border-radius: 24px;
    color: white;
    background-image: linear-gradient(to bottom right, #FF79DA , #9356DC);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
    min-width: 189px;
}

.selected > button {
    border: none;
    align-self: center;
    margin: 40px 0 60px 0;
    cursor: pointer;
}

/* Info (How it works) */
.info {
    /* border: 2px solid red; */
    padding: 35px 15px;
    text-align: left;
}

.instructions {
    /* border: 2px solid green; */
    padding: 20px 0 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.instructions div {
    /* border: 2px solid red; */
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 18px 0px;
    background: #F6F6F6;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.instructions div:hover {
    transform: scale(1.05);
    background: rgba(147, 86, 220, 0.15);
}

.instructions p:first-child {
    background: hwb(267 34% 14%);
    font-size: 14px;
    color: white;
    border-radius: 12px;
    padding: 3px 7px;
    margin-left: -12px;
}

.instructions div:hover i {
    color: #9356DC;
}

/* Restaurants */
.selection {
    text-align: left;
    /* border: 2px solid green; */
    padding: 25px 15px;
    background: #F6F6F6;
}

.restaurants-container {
    /* border: 2px solid red; */
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    /* border: 2px solid blue; */
    height: 250px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.img-container {
    /* border: 2px solid red; */
    /* 187.5 px */
    flex-basis: 75%;
    overflow: hidden;
}

.card img {
    object-fit: cover;
    width: 100%;
    margin-top: -60px;
}

img[alt="image of the enchanted plate"] {
    margin-top: -170px;
}

.card i {
    font-size: 20px;
}

.restaurant-info {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0 15px;
    text-align: left;
}

.restaurant-info div p:first-child {
    /* border: 2px solid green; */
    font-weight: 600;
}

.restaurant-info button,
.content.menu nav button {
    border: none;
    background-color: #F6F6F6;
    cursor: pointer;
}

.restaurant-info button > .fa-solid,
*.restaurant-info button:hover > .fa-regular {
  display: none;
}

.restaurant-info button:hover > .fa-solid {
  display: inline-block;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Menu pages */
.content.menu nav div {
    padding: 12px 15px;
    align-items: center;
}

.content.menu nav button {
    margin-right: -18px;
    background: white;
}

.content.menu nav img {
    margin: 0 auto;
}

.card.selected {
    /* border: 2px solid pink; */
    border-radius: 0;
    height: 100%;
    background: #F6F6F6;
    box-shadow: none;
}

.selected .img-container {
    /* border: 2px solid green; */
    margin-bottom: -20px;
}

.selected .restaurant-info {
    /* border: 2px solid red; */
    border-radius: 20px 20px 0 0;
    padding: 20px 15px 0 15px;
    background: #F6F6F6;
}

.selected .restaurant-info h3 {
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
    font-size: 25px;
}

.menu-container {
    /* border: 2px solid blue; */
    text-align: start;
    padding: 0 15px;
}

.menu-container > p {
    white-space: nowrap;
    /* border: 2px solid red; */
    width: 60px;
    padding-bottom: 5px;
    margin: 30px 0 15px 0;
    box-shadow: -10px 12px 0px -10px #99E2D0;
}

.course {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    /* border: 2px solid red; */
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;
    background: white;
    overflow: hidden;
    /* max-height: 73px; */
}

.menu-item > div {
    /* border: 2px solid purple; */
    padding: 8px 10px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: end;
    overflow: hidden;
    cursor: pointer;
}

.menu-item > div div {
    /* border: 2px solid green; */
    overflow: hidden;
}

.menu-item > div div p {
    /* border: 2px solid pink; */
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}

.menu-item > div div p:first-child,
.menu-item > div > p {
    font-weight: 600;
}

.menu-item > div div p:first-child {
    padding-bottom: 3px;
}

.menu-item i {
    text-align: center;
    width: 0px;
    background: #99E2D0;
    color: white;
    padding: 18px 0;
    transition: all 0.3s ease-in-out;
}

.menu-item:hover i {
    width: 50px;
}

/* Footer */
footer {
    /* border: 2px solid red; */
    text-align: left;
    background: #353535;
    color: white;
    padding: 20px;
}

footer p {
    font-family: 'Shrikhand', cursive;
    margin-bottom: 10px;
    font-size: 18px;
}

li {
    padding: 5px 0;
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
}